<a href="https://colab.research.google.com/github/joaovitorez/github-slideshow/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import pandas as pd
planilha = pd.read_excel("/content/Ensino Remoto Emergencial _respostas_confrarias.xlsx")
planilha

                      Nome (Completo)  ... SITUACAO
0                 Caio Lopes Rozental  ...    Ativa
1                Luccas Mazolli Veiga  ...    Ativa
2              Juliana Romano Correia  ...    Ativa
3                    Leo Kepple Borba  ...    Ativa
4    JoAo Vitor Coelho Vieira Batista  ...    Ativa
..                                ...  ...      ...
784                               NaN  ...    Ativa
785                               NaN  ...    Ativa
786                               NaN  ...    Ativa
787                               NaN  ...    Ativa
788                               NaN  ...    Ativa

[789 rows x 6 columns]

In [116]:
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda x: str(x).upper())

In [117]:
planilha['NOME'] = planilha['NOME'].apply(lambda x: str(x).upper())

In [118]:
planilha

                      Nome (Completo)  ... SITUACAO
0                 CAIO LOPES ROZENTAL  ...    Ativa
1                LUCCAS MAZOLLI VEIGA  ...    Ativa
2              JULIANA ROMANO CORREIA  ...    Ativa
3                    LEO KEPPLE BORBA  ...    Ativa
4    JOAO VITOR COELHO VIEIRA BATISTA  ...    Ativa
..                                ...  ...      ...
784                               NAN  ...    Ativa
785                               NAN  ...    Ativa
786                               NAN  ...    Ativa
787                               NAN  ...    Ativa
788                               NAN  ...    Ativa

[789 rows x 6 columns]

In [119]:
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda y: str(y).replace("'", ''))

In [120]:
planilha['NOME'] = planilha['NOME'].apply(lambda y: str(y).replace("'", ''))

In [121]:
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda z: str(z).strip())

In [122]:
planilha['NOME'] = planilha['NOME'].apply(lambda z: str(z).strip())

In [123]:
planilha['Nome (Completo)'].iloc[56] = 'BRUNO LIMA RODRIGUES DE ALMEIDA'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [124]:
planilha['Nome (Completo)'].iloc[66] = 'JOYCE PAULINO'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [125]:
planilha['NOME'] = planilha['NOME'].apply(lambda k: str(k).replace('ATIVA',''))

In [126]:
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda x: str(x).replace('SANT ANNA','SANTANNA'))

In [127]:
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda x: str(x).replace('PHILIPI','PHILIPPI'))

In [128]:
planilha['NOME'] = planilha['NOME'].apply(lambda z: str(z).strip())
planilha['Nome (Completo)'] = planilha['Nome (Completo)'].apply(lambda z: str(z).strip())

In [129]:
planilha['Nome (Completo)'].iloc[223] = 'ANDREI HUNEMEYER DULLIUS'

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [130]:
planilha['NOME'] = planilha['NOME'].apply(lambda x: str(x).replace("JOAO GABRIEL FIGUEIREDO DE SANT ANNA",'JOAO GABRIEL FIGUEIREDO DE SANTANNA'))

In [131]:
planilha

                      Nome (Completo)  ... SITUACAO
0                 CAIO LOPES ROZENTAL  ...    Ativa
1                LUCCAS MAZOLLI VEIGA  ...    Ativa
2              JULIANA ROMANO CORREIA  ...    Ativa
3                    LEO KEPPLE BORBA  ...    Ativa
4    JOAO VITOR COELHO VIEIRA BATISTA  ...    Ativa
..                                ...  ...      ...
784                               NAN  ...    Ativa
785                               NAN  ...    Ativa
786                               NAN  ...    Ativa
787                               NAN  ...    Ativa
788                               NAN  ...    Ativa

[789 rows x 6 columns]

In [132]:
#Percebe-se que algumas pessoas que responderam não estão na listagem
pessoas_sem_registro = planilha.query('`Nome (Completo)` not in NOME')

In [133]:
pessoas_sem_registro['Nome (Completo)'][:50]

3                                 LEO KEPPLE BORBA
130    STEPHANIE BARROUIN COSTA FERREIRA DOS ANJOS
147                                 RUBEM CARVALHO
152                          MARIA LENINA TRINDADE
189                           LUCAS SANTOS DE DEUS
228                  VICTOR HUGO DE OLIVEIRA PINTO
294                                            NAN
295                                            NAN
296                                            NAN
297                                            NAN
298                                            NAN
299                                            NAN
300                                            NAN
301                                            NAN
302                                            NAN
303                                            NAN
304                                            NAN
305                                            NAN
306                                            NAN
307                                            NAN
308                                            NAN
309                                            NAN
310                                            NAN
311                                            NAN
312                                            NAN
313                                            NAN
314                                            NAN
315                                            NAN
316                                            NAN
317                                            NAN
318                                            NAN
319                                            NAN
320                                            NAN
321                                            NAN
322                                            NAN
323                                            NAN
324                                            NAN
325                                            NAN
326                                            NAN
327                                            NAN
328                                            NAN
329                                            NAN
330                                            NAN
331                                            NAN
332                                            NAN
333                                            NAN
334                                            NAN
335                                            NAN
336                                            NAN
337                                            NAN
Name: Nome (Completo), dtype: object

In [134]:
#ver se as pessoas de NOME que estão em Nome completo resultam total-6
planilha['NOME'].drop_duplicates()
pessoas_listagem_jaresponderam = planilha.query('NOME in `Nome (Completo)`')

In [135]:
pessoas_listagem_jaresponderam['NOME']

0                        HELOISA VILAR MARTINS
1                   JOAO PEDRO RODRIGUES PINHO
2                       DANIEL GIRARD NAKAJIMA
3      MATHEUS MOERBECK DE ALMEIDA REGO MURTHA
5                       VINICIUS FEIJO PEREIRA
                        ...
767                   KESILY DE PAULA DA SILVA
775                 GRACIELLY CARVALHO MOREIRA
778                          VITOR PELS AIZMAN
785                              JOYCE PAULINO
786                 SARAH DE OLIVEIRA SANTANNA
Name: NOME, Length: 291, dtype: object

In [136]:
planilha['NOME']

0                        HELOISA VILAR MARTINS
1                   JOAO PEDRO RODRIGUES PINHO
2                       DANIEL GIRARD NAKAJIMA
3      MATHEUS MOERBECK DE ALMEIDA REGO MURTHA
4             CARLOS DANIEL PENAFORTE DE SOUZA
                        ...
784                   SHEYLA DE SOUZA DO CARMO
785                              JOYCE PAULINO
786                 SARAH DE OLIVEIRA SANTANNA
787                JAMES DANIEL ALEXANDER WEBB
788              RORY NICHOLAS CAMPBELL MORGAN
Name: NOME, Length: 789, dtype: object

In [137]:
pessoas_a_procurar = planilha['NOME'].drop(pessoas_listagem_jaresponderam['NOME'].index)

In [138]:
planilha['Pessoas que não responderam formulário'] = pessoas_a_procurar

In [139]:
planilha

                      Nome (Completo)  ... Pessoas que não responderam formulário
0                 CAIO LOPES ROZENTAL  ...                                    NaN
1                LUCCAS MAZOLLI VEIGA  ...                                    NaN
2              JULIANA ROMANO CORREIA  ...                                    NaN
3                    LEO KEPPLE BORBA  ...                                    NaN
4    JOAO VITOR COELHO VIEIRA BATISTA  ...       CARLOS DANIEL PENAFORTE DE SOUZA
..                                ...  ...                                    ...
784                               NAN  ...               SHEYLA DE SOUZA DO CARMO
785                               NAN  ...                                    NaN
786                               NAN  ...                                    NaN
787                               NAN  ...            JAMES DANIEL ALEXANDER WEBB
788                               NAN  ...          RORY NICHOLAS CAMPBELL MORGAN

[789 rows x 7 columns]

In [140]:
planilha['Pessoas que não responderam formulário'] = planilha['Pessoas que não responderam formulário'].fillna('OK')

In [141]:
planilha

                      Nome (Completo)  ... Pessoas que não responderam formulário
0                 CAIO LOPES ROZENTAL  ...                                     OK
1                LUCCAS MAZOLLI VEIGA  ...                                     OK
2              JULIANA ROMANO CORREIA  ...                                     OK
3                    LEO KEPPLE BORBA  ...                                     OK
4    JOAO VITOR COELHO VIEIRA BATISTA  ...       CARLOS DANIEL PENAFORTE DE SOUZA
..                                ...  ...                                    ...
784                               NAN  ...               SHEYLA DE SOUZA DO CARMO
785                               NAN  ...                                     OK
786                               NAN  ...                                     OK
787                               NAN  ...            JAMES DANIEL ALEXANDER WEBB
788                               NAN  ...          RORY NICHOLAS CAMPBELL MORGAN

[789 rows x 7 columns]

In [143]:
planilha.to_excel("/home/MapeamentoFormulario.xlsx", index=False)